<data-table id="slider-management" [items]="items" [itemCount]="items?.length"
    [className]="'table-bordered table-hover'" (onRowSelect)="onRowSelect($event)" (onDeleteRow)="onDeleteRow()"
    (onEditRow)="onEditRow($event)" (onAddRow)="onAddRow()" (onRefreshData)="get()">
    <column property="name" header="الاسم" [filter]="true" [sortable]="true">
    </column>
    <column property="visible" header="الحالة" [sortable]="true">
        <ng-template #dataTableCell let-item="item">
            <div class="row mx-0 text-center">
                <div class="col">
                    <i class="fal fal fa-times text-danger" *ngIf="item.visible === false"></i>
                    <i class="fal fal fa-check text-success" *ngIf="item.visible === true"></i>
                </div>

            </div>
        </ng-template>
    </column>
    <column [property]="'visible'" [header]="'Controls'" [hideOnPrint]="true">
        <ng-template #dataTableHeader let-item="item">
            <div class="d-flex justify-content-center align-items-center">
                <a href="javascript:void(0);" (click)="onViewGellary()"
                    class="btn btn-outline-success btn-sm btn-icon waves-effect waves-themed">
                    <i class="fal fa-images"></i>
                </a>
            </div>
        </ng-template>
        <ng-template #dataTableCell let-item="item">
            <div class="d-flex justify-content-center align-items-center">
                <a href="javascript:void(0);" (click)="onViewGellary(item)" title="مشاهدة الصورة"
                    class="btn btn-sm btn-icon btn-outline-primary shadow-0">
                    <i class="fal fa-image"></i></a>
            </div>
        </ng-template>
    </column>
</data-table>


<a #viewModal href="javascript:void(0);" data-toggle="modal" data-target="#slider-management-edit-view-modal"
    class="d-none">
</a>

<a #deleteModal href="javascript:void(0);" data-toggle="modal" data-target="#delete-panel-modal" class="d-none">
</a>

<ng-container *ngIf="selectedItem">
    <app-delete-modal [selectedItem]="selectedItem" (onConfirm)="onConfirmDelete()"></app-delete-modal>
</ng-container>

<slider-management-details-cmp [selectedItem]="selectedItem" (onSave)="get();"></slider-management-details-cmp>

<ng-container *ngIf="viewGallery">
    <gallery #gallery (onClose)="onClose()"></gallery>
</ng-container>