<form id="slider-management-group" [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- modal alert -->
    <div class="modal fade " id="slider-management-edit-view-modal" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">تفاصيل الموقع</h5><button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true"><i class="fal fa-times"></i></span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="slider-name" class="col-lg-3 col-form-label form-label fw-700">
                            العنوان</label>
                        <div class="col-lg-9">
                            <input formControlName="name" [class.is-invalid]="!name.valid && name.touched"
                                id="slider-name" name="slider-name" type="text" class="form-control"
                                placeholder="العنوان" />
                            <div *ngIf="!name?.valid && name?.touched" class="invalid-feedback">
                                هذه الحقل اجباري.
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="form-group row">
                        <label for="slider-order" class="col-lg-3 col-form-label form-label fw-700">
                            الترتيب</label>
                        <div class="col-lg-9">
                            <input formControlName="order" [class.is-invalid]="!order.valid && order.touched"
                                id="slider-order" name="slider-order" type="number" class="form-control"
                                placeholder="الترتيب" />
                            <div *ngIf="!order?.valid && order?.touched" class="invalid-feedback">
                                هذه الحقل اجباري.
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="frame-wrap">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="slider-visible"
                                formControlName="visible" [value]="true">
                            <label class="custom-control-label" for="slider-visible">فعال</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="slider-invisible"
                                formControlName="visible" [value]="false">
                            <label class="custom-control-label" for="slider-invisible">غير فعال</label>
                        </div>
                    </div>
                    <div class="img-square-wrapper">
                        <div class="avatar-upload my-0">
                            <div class="avatar-edit">
                                <input type='file' (change)="onSliderImageChange($event)" id="item-image"
                                    accept=".png, .jpg, .jpeg" />
                                <label for="item-image"></label>
                            </div>
                            <div class="avatar-preview rounded">
                                <img *ngIf="sliderItemImage" class="img-fluid img-thumbnail rounded" [src]="sliderItemImage">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button #cancelAction type="button" data-content="remove" class="btn btn-default"
                        data-dismiss="modal">الغاء
                    </button>
                    <button type="submit" data-content="remove" class="btn btn-primary" id="row-submit">
                        حفظ
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>