<data-table id="admin-management" [items]="items" [itemCount]="items?.length" [className]="'table-bordered table-hover'"
    (onRowSelect)="onRowSelect($event)" [allowDelete]="false" [allowEdit]="false" [allowRefresh]="false"
    (onAddRow)="onAddRow()">
    <column property="name" header="الاسم" [filter]="true" [sortable]="true">
    </column>
    <column property="phoneNumber" header="رقم الجوال" [filter]="true" [sortable]="true">
    </column>
    <column property="email" header="البريد الالكتروني" [sortable]="true" [filter]="true">
    </column>
    <column property="active" header="حالة الحساب" [sortable]="true">
        <ng-template #dataTableCell let-item="item">
            <div class="row mx-0 text-center">
                <div class="col">
                    <span class="fw-700" [ngClass]="item.locked === true ? 'text-danger' : 'text-primary'">
                        {{item.locked === true ? 'مغلق' : 'فعّال'}}
                    </span>
                </div>

            </div>
        </ng-template>
    </column>
    <column [property]="'active'" [header]="'Controls'" [hideOnPrint]="true">
        <ng-template #dataTableHeader let-item="item">
            <div class="d-flex justify-content-center align-items-center">
                <a href="javascript:void(0);" (click)="get()"
                    class="btn btn-primary btn-sm btn-icon waves-effect mx-1">
                    <i class="fal fa-redo"></i>
                </a>
            </div>
        </ng-template>
        <ng-template #dataTableCell let-item="item">
            <div class="d-flex justify-content-center align-items-center">
                <a *ngIf="!item.locked" (click)="onToggleLock(item, true)" href="javascript:void(0);" title="اغلاق"
                    class="btn btn-danger btn-sm btn-icon waves-effect mx-1">
                    <i class="fal fa-lock-alt"></i>
                </a>
                <a *ngIf="item.locked" (click)="onToggleLock(item, false)" href="javascript:void(0);" title="تفعيل"
                    class="btn btn-primary btn-sm btn-icon waves-effect mx-1">
                    <i class="fal fa-lock-open-alt"></i>
                </a>
            </div>
        </ng-template>
    </column>
</data-table>


<a #viewModal href="javascript:void(0);" data-toggle="modal" data-target="#admin-management-edit-view-modal"
    class="d-none">
</a>
<admin-management-details-cmp [selectedItem]="selectedItem" (onSave)="get();"></admin-management-details-cmp>