<data-table id="region-management" [items]="items" [itemCount]="items?.length"
    [className]="'table-bordered table-hover'" (onRowSelect)="onRowSelect($event)" (onDeleteRow)="onDeleteRow()"
    (onEditRow)="onEditRow($event)" (onAddRow)="onAddRow()" (onRefreshData)="get()">
    <column property="name" header="المنطقة" [filter]="true" [sortable]="true">
    </column>
    <column property="arabicName" header="المنطقة بالعربي" [filter]="true" [sortable]="true">
    </column>
</data-table>


<a #viewModal href="javascript:void(0);" data-toggle="modal" data-target="#region-management-edit-view-modal"
    class="d-none">
</a>

<a #deleteModal href="javascript:void(0);" data-toggle="modal" data-target="#delete-panel-modal" class="d-none">
</a>

<ng-container *ngIf="selectedItem">
    <app-delete-modal [selectedItem]="selectedItem" (onConfirm)="onConfirmDelete()"></app-delete-modal>
</ng-container>

<region-management-details-cmp [selectedItem]="selectedItem" (onSave)="get();"></region-management-details-cmp>