<div class="form-row" *ngIf="multiple">
    <div class="col">
        <div class="form-group mb-0">
            <label class="form-label" [class]="classes">{{attachementTitle}}</label>
            <div class="custom-file">
                <input [disabled]="!multiple && attachments.length > 0" type="file" accept="application/pdf"
                    class="custom-file-input" id="uploaded-images" (change)="onSelect($event)" multiple>
                <label class="custom-file-label" for="uploaded-images"></label>
            </div>
        </div>

    </div>
</div>

<div class="form-row" *ngIf="!multiple && attachments.length === 0">
    <div class="col">
        <div (click)="onToggleUpload()" class="card bg-light text-dark c-pointer text-center p-3">
            <i class="fal fa-plus fs-xl pb-2"></i>
            <blockquote class="blockquote mb-0">
                <p class="mb-0">اضغط هنا لتحميل الملف</p>
            </blockquote>
        </div>
    </div>
</div>

<input #uploadFile type="file" class="custom-file-input d-none" id="uploaded-images" accept="application/pdf"
    (change)="onSelect($event)" multiple>

<div *ngIf="multiple" id="customize-thumbnails-gallery" class="justified-gallery-flex bg-white">
    <div *ngFor="let file of attachments"
        class="d-flex justify-content-between align-items-center pr-2 entry-visible border">
        <a class="jg-entry">
            <i class="fal fa-file-pdf fa-5x"></i>
            <div class="caption">{{file.src.name}}</div>
        </a>
        <button type="button" (click)="onRemove(file)" class="btn btn-danger btn-icon waves-effect waves-themed">
            <i class="fal fa-times"></i>
        </button>
    </div>
</div>

<div *ngIf="!multiple" id="customize p-0-thumbnails-gallery" class="justified-gallery-flex bg-white">
    <div *ngFor="let file of attachments"
        class="one-upload-file d-flex justify-content-center align-items-center p-0 position-relative">
        <!-- <img class="rounded img-fluid max-h-500-px" [src]="file.file" />
         -->
        <div class="d-flex flex-column align-items-center">
            <i class="fal fa-file-pdf fa-5x"></i>
            <div class="caption py-2">{{file.src.name}}</div>
        </div>
        <button type="button" (click)="onRemove(file)"
            class="position-absolute py-1 d-flex justify-content-center align-items-center pos-top pos-left btn clear-image btn-default btn-icon m-2 shadow-lg">
            <i class="fal fa-times fa-2x"></i>
        </button>
    </div>
</div>